.logo {
    width: 10em;
}


.login {

    position: absolute;
    width: 152px;
    height: 16px;
    left: 117px;
    top: 492px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #000000;
}